body.night-theme {
  background-color: #48455b;
}

body.night-theme .btn {
  background-color: #48455b;
}

body.night-theme .right-sided-btn {
  background-color: #694c97;
}

body.night-theme .theme-btn {
  background-color: #694c97;
}
