/* 
  bg #000
  orange #ff9501
  grey #a6a6a6
  white #e1dada
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.calc {
  margin: 50px auto;
  align-items: center;
  overflow: auto;

  width: 350px;
  min-height: 500px;
  padding-bottom: 50px;
  background-color: rgb(32, 32, 32);
  color: #e1dada;
  border-radius: 5%;
  box-shadow: 0px 0px 10px 3px rgb(32, 32, 32);
}

.calc-screen {
  margin: 50px auto 0px;
  width: 262px;
  min-height: 85px;
  text-align: right;
}

.record-data-block {
  font-size: 30px;
  min-height: 40px;
  word-wrap: break-word;
  word-break: break-all;
}
.prev-data-block {
  min-height: 20px;
}
.m-btns {
  display: flex;
  margin: 15px auto;
  width: 262px;
  justify-content: space-around;
  align-items: center;
}
.m-btn {
  cursor: pointer;
  user-select: none;
}
.m-btn:hover {
  filter: brightness(115%);
}
.m-btn:active {
  filter: brightness(90%);
}

.btns {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 3px;
  /* grid-template-areas:
    'x² % CE C undo'
    'x³ !x 1/x 10ⁿ ÷'
    'xⁿ 7 8 9 x'
    '√x 4 5 6 -'
    '∛x 1 2 3 +'
    'ⁿ√x ± 0 . ='; */

  justify-content: center;
  justify-items: center;
}

.btn {
  width: 50px;
  height: 50px;
  /* background-color: #a6a6a6; */
  line-height: 50px;
  border-radius: 3%;
  text-align: center;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.btn:hover {
  filter: brightness(115%);
}
.btn:active {
  filter: brightness(95%);
}

.theme-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 5%;

  border-radius: 50%;
}
.theme-img {
  height: 80%;
  width: 80%;
  display: block;
  margin: 5px auto;
}

/* some buttons & background */
/* .day-theme-gray {
  background-color: #a2a1a1;
}
.day-theme-orange {
  background-color: #e6c563;
} */

/* right-sided buttons & theme-btn*/
/* .night-theme-gray {
  background-color: #48455b;
}
.night-theme-blue {
  background-color: #694c97;
} */
